@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(14, 14, 117);
  --grey: rgb(238, 238, 238);
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  grid-row: 1;
  background-color: var(--blue);
  color: white;
  display: flex;
  padding: 20px;
  font-size: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > img {
  filter: invert(100%);
  width: 50px;
  margin-right: 20px;
}

.nav-main-container {
  display: grid;
  grid-row: 2;
  grid-template-columns: 300px 1fr;
}

nav {
  grid-column: 1/2;
  background-color: var(--grey);
}

footer {
  grid-row: 3;
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 10px;
}

.create-todo-container {
  display: flex;
  align-items: center;
  padding: 25px 0 15px 25px;
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}

.create-todo-container:hover {
  transform: scale(1.1);
  /* cursor: pointer; */
}

.create-todo-container h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.main-list-container {
  display: flex;
  align-items: center;
  padding: 25px 0 0 25px;
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}

.main-list-container:hover {
  transform: scale(1.1);
  /* cursor: pointer; */
}

.main-list-container h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.main-list-container img {
  width: 30px;
}

.create-project-container {
  font-size: 1.5rem;
  color: rgb(95, 95, 95);
  padding: 40px 0 0 25px;
  display: flex;
  align-items: center;
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}

.create-project-container:hover {
  transform: scale(1.1);
  /* cursor: pointer; */
}

.todo-container {
  width: 60%;
  margin: 20px auto;
  border-bottom: 2px solid var(--blue);
  position: relative;
}

.todo-title {
  font-weight: 300;
  font-size: 1.1rem;
  padding: 10px 0 0 0;
}

.todo-description {
  font-weight: 100;
  font-size: 0.8rem;
  color: rgb(129, 127, 127);
  padding-bottom: 20px;
  padding-top: 10px;
}

.todo-is-complete {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid;
  box-sizing: border-box;
}

.high-priority {
  border-color: red;
}

.medium-priority {
  border-color: orange;
}

.low-priority {
  border-color: blue;
}

.todo-is-complete:hover {
  border: 2px solid green;
  background-color: green;
}

.upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-todo-form-container {
  width: 25%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border: solid 0.5px rgb(94, 94, 94);
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.overlay-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.form-hidden {
  display: none;
}

.create-todo-form-container input,
.create-project-form-container input {
  background-color: var(--grey);
  outline: none;
  border: none;
  padding: 10px;
  color: var(--platinum);
}

#create-todo-form h3,
#create-project-form h3 {
  font-weight: 300;
  letter-spacing: 0.8px;
  padding-bottom: 10px;
  text-align: center;
}

.input-container > label {
  font-size: 0.8rem;
  color: rgb(43, 42, 42);
  padding-bottom: 2px;
}

.input-container input[type="text"] {
  border: none;
  border-radius: 5px;
  background-color: rgb(245, 243, 243);
  font-size: 1rem;
}

.input-container textarea {
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: rgb(245, 243, 243);
  font-size: 1rem;
  resize: none;
}

.input-container textarea:focus {
  outline: none;
}

#todo-project-title {
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: rgb(245, 243, 243);
  font-size: 1rem;
}

.input-container input[type="date"] {
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: rgb(245, 243, 243);
  font-size: 1rem;
}

.priority-selection-container {
  display: flex;
  align-items: center;
}

.priority-selection-container label[for="priority"] {
  font-size: 0.8rem;
  color: rgb(43, 42, 42);
  padding-bottom: 2px;
  margin-right: 15px;
  margin-top: 5px;
}

.input-container.priority-selection-container label {
  margin-right: 10px;
}

.priority-selection-container input[type="radio"] {
  display: none;
}

.priority-selection-container label[for="high"],
.priority-selection-container label[for="medium"],
.priority-selection-container label[for="low"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* cursor: pointer; */
  position: relative;
  margin-left: 5px;
}

.priority-selection-container label[for="high"]::after,
.priority-selection-container label[for="medium"]::after,
.priority-selection-container label[for="low"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
  display: none;
}

.priority-selection-container input[type="radio"]:checked + label::after {
  display: block;
}

.priority-selection-container label[for="high"] {
  border: solid 2px red;
}

.priority-selection-container label[for="medium"] {
  border: solid 2px orange;
}

.priority-selection-container label[for="low"] {
  border: solid 2px blue;
}

#todo-form-submit,
#project-form-submit {
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  /* cursor: pointer; */
  margin: 0 auto;
  display: block;
  transition: transform 0.1s ease-in-out;
}

#todo-form-submit:hover,
#project-form-submit:hover {
  transform: scale(1.05);
}

.create-project-form-container {
  width: 25%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border: solid 0.5px rgb(94, 94, 94);
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-list {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 50px;
  margin-top: 20px;
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}

.project-list:hover {
  transform: scale(1.1);
  /* cursor: pointer; */
}

.expanded-todo {
  width: 25%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border: solid 0.5px rgb(94, 94, 94);
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.expanded-todo-hidden {
  display: none;
}
